@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Meow+Script&family=Pacifico&display=swap');


.pacifico-regular{
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  background-color: #fff;
  color: #555;
}*/
.colums{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}
.left-col-block{
	width: 50%;
	text-align: center;
	overflow: hidden;
	position: fixed;

}
.right-col-block{
	width: 50%;
	position: absolute;
	right: 0;

}
.section-wrapper{
	padding: 50px;
}
.sec-title{
	
	margin-bottom: 20px;

}
.sec-title h2,h3,h4{
	text-transform: capitalize;
}
.bg{
	background-color:  #F9F9F9;
}

.header{
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
	height: 100vh;
	position: relative;

}
.header .image{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url(Pawan-Kalyan-f-1.avif);
	background-position:center;
	background-size: cover;
	z-index: -1;
}
.header .image::before{
	content: "";
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	position: absolute;
	background: linear-gradient(-73deg,rgba(90, 50, 550, 1.0)10%,rgba(140, 60, 190, 0.5)20%,transparent 30%,transparent 100%);

}

.header .content { 
    position: absolute; 
    left:0; 
    bottom:0; 
    right:0; 
    width: 100%; 
    margin: 0 ; 
    margin-left: 10px;
    padding: 10% 
} 
 


.header .content h1{
	
	color: #fff;
	margin: 0px;
	
}
.header .content p{
	color: #fff;
	font-size: 25px;
	margin-left: 80px;
}

.header .content .icons{
	display: block;
	margin: 0px ;
	padding: 0px;
	margin-left: 72px;
}
.header .content .icons li{
	display: inline-block;
	margin: 0px 5px;
	color: #fff;


}
.header .content .icons li a{
	display: block;
	font-size: 20px;
	width: 35px;
	height: 35px;
	line-height: 32px;
	text-align: center;
	border-radius: 100%;
	color: whitesmoke;
	border: 1px solid antiquewhite;
}/*
.header .content .icons li a { 
    display: block; 
    font-size: 15px; 
    color: #fff; 
    height: 35px; 
    width: 35px; 
    line-height: 32px; 
    text-align: center; 
    border-radius: 100%; 
    border: 2px solid #555; 
}*/
.header .content .icons li a:hover{
	border: 1px solid orange;
}

.pro{
	text-transform: capitalize;
	color: #333;
	margin-bottom: 15px;
}
label{
	margin-bottom: 5px;
	text-transform: capitalize;
	

}
a{
	text-decoration: none !important;
	color: whitesmoke !important;
}

a:hover{
	color: royalblue !important;
}
input{
	min-height: 50px !important;
}
@media (max-width: 600px){ 
    .left-col-block { 
        width: 100%; 
        position: relative; 
    } 
    .right-col-block { 
        width: 100%; 
        position: relative; 
    }
}